--- requirements/base.txt.orig	2023-06-16 12:12:05 UTC
+++ requirements/base.txt
@@ -8,5 +8,3 @@ distro>=1.0.1
 psutil>=5.0.0
 packaging>=21.3
 looseversion
-# We need contextvars for salt-ssh
-contextvars
